<div class="container">
  <br>
  <h2 class="d-flex justify-content-center">Please Register</h2>
  <form [formGroup]="registerForms" (ngSubmit)="register()">
    <div class="form-group">
      <label>Email address:</label>
      <input type="email" class="form-control" placeholder="Put Your Email" formControlName="email" required
             [(ngModel)]="user.email">
    </div>
    <!-- Email Validators -->
    <div *ngIf="submitted && f.email.invalid" class="form-error">
      <p *ngIf="f.email.errors.required" class="alert alert-danger">
        Email is required!
      </p>
      <p *ngIf="f.email.errors.minlength" class="alert alert-danger">
        Email should be more than 6
      </p>
      <p *ngIf="f.email.errors.maxlength" class="alert alert-danger">
        Email should be less then 20
      </p>
    </div>
    <br>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" placeholder="Put Your Password" class="form-control" formControlName="password" required
             [(ngModel)]="user.password">
    </div>
    <!-- Password Validators -->
    <div *ngIf="submitted && f.password.invalid" class="form-error">
      <p *ngIf="f.password.errors.required" class="alert alert-danger">
        Password is required!
      </p>
      <p *ngIf="f.password.errors.minlength" class="alert alert-danger">
        Password should be more than 6
      </p>
      <p *ngIf="f.password.errors.maxlength" class="alert alert-danger">
        Password should be less then 10
      </p>
    </div>
    <br>
    <input type="submit" value="Register" class="btn btn-primary">
  </form>
</div>
