<div class="container">
  <h1 class="d-flex justify-content-center">Welcome To Planning List System Page</h1>
<div class="row">
  <div class="offset-lg-9">
  <input type="search" class="form-control form-control-sm searchInp" placeholder="Search..." [(ngModel)]="searchTerm">
  </div>
</div>

<img class="logo" width="300" alt="Angular Logo"
     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
<br>
<input type="text" class="form-control" placeholder="Add Title:" [(ngModel)]="planTitle"><br>
<input type="text" class="form-control" placeholder="Add Description:" [(ngModel)]="planDescription"><br>
<input type="text" class="form-control" placeholder="Add Place Name:" [(ngModel)]="planPlaceName"><br>
<input type="text" class="form-control" placeholder="Add Address:" [(ngModel)]="planAddress"><br>
<label>Status Is Active:
  <input type="checkbox" value="Active" placeholder="Plan Status" [(ngModel)]="planStatus"></label><br>
<button class="btn btn-outline-primary" (click)="addPlan()">Add</button><br><br>
<div class="todo-item border" *ngFor="let plan of plans | filter: searchTerm">
  <div class="todo-item-left">
    <div class="alert alert-warning">
      <h4>Enter Double Click to Update & Edit Your Data</h4>
    </div>
    <div *ngIf="!plan.editing; else editingTodo" class="todo-item-label" (dblclick)="editPlan(plan)">
      <h6>Title: <small>{{plan.title}}</small></h6><br>
      <h6>Description: <small>{{plan.description}}</small></h6><br>
      <h6>Place Name: <small>{{plan.placeName}}</small></h6><br>
      <h6>Address: <small>{{plan.address}}</small></h6><br>
      <h6>Date: <small>{{plan.date}}</small></h6><br>
      <h6>Status: <small>{{plan.status}}</small></h6><br>
    </div>
    <ng-template #editingTodo>
      <label class="margining">Title</label>
      <input type="text" class="form-control margining" [(ngModel)]="plan.title"
             (keyup.enter)="doneEdit(plan)" ><br>
      <label class="margining">Description</label>
      <input type="text" class="form-control margining" [(ngModel)]="plan.description"
             (keyup.enter)="doneEdit(plan)" >
      <label class="margining">Place Name</label>
      <input type="text" class="form-control margining" [(ngModel)]="plan.placeName"
             (keyup.enter)="doneEdit(plan)" ><br>
      <label class="margining">Address</label>
      <input type="text" class="form-control margining" [(ngModel)]="plan.address"
             (keyup.enter)="doneEdit(plan)" ><br>
      <label class="margining">Date</label>
      <input type="text" class="form-control margining" [(ngModel)]="plan.date"
             (keyup.enter)="doneEdit(plan)"><br>
      <label class="margining">Status</label>
      <input type="text" class="form-control margining" [(ngModel)]="plan.status"
             (keyup.enter)="doneEdit(plan)"><br>
      <div class="alert alert-secondary">
        <h4>If You Finished Your Editing Please Click Enter To Save Your Data</h4></div>
    </ng-template>
  </div>
  <div class="remove-item">
    <button class="btn btn-outline-danger" (click)="deletePlan(plan.id)">Delete</button>
    <br>
  </div>
</div>
</div>
